# Dependencies
node_modules/

# Next.js
.next/
out/

# Build
*.tsbuildinfo
next-env.d.ts

# Env
.env
.env*.local

# Debug
npm-debug.log*
.yarn-integrity

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
